article {
  >* {
    margin: 0em 0.5em;
  }

  h1 {
    font-size: 2.7em;
  }

  h2 {
    font-size: 2.3em;
  }

  h3 {
    font-size: 2em;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 1em 0em;
    font-weight: bold;
  }

  p {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  blockquote {
    position: relative;
    padding: 0.1em 1em;
    margin: 1.5em 1em;
    color: var(--base04);
    border-left: 0.3rem solid var(--base02);
  }

  blockquote pre,
  blockquote code {
    color: var(--base05);
    background: var(--base01);
  }


  ul li::marker {
    color: var(--base03);
    font-weight: bold;
  }

  ol li::marker {
    color: var(--base03);
  }

  section.footnotes {
    border-top: 1px solid var(--base02);
    margin-top: 2em;
  }

  .markdown-alert {
    position: relative;
    padding: 0.1em 1em;
    margin: 1em;
    border-left: 0.3rem solid var(--base02);
  }

  p.markdown-alert-title {
    font-weight: bold;
    color: var(--alert-color, var(--base02));
  }

  .markdown-alert-note {
    --alert-color: var(--base05);
  }

  .markdown-alert-tip {
    --alert-color: var(--base0B);
  }

  .markdown-alert-important {
    --alert-color: var(--base0A);
  }

  .markdown-alert-warning {
    --alert-color: var(--base09);
  }

  .markdown-alert-caution {
    --alert-color: var(--base08);
  }

  .markdown-alert {
    margin: 1.5em 1em;
    border-color: var(--alert-color, var(--base02));
    background-color: color-mix(in srgb, var(--alert-color, var(--base02)) 10%, transparent);
  }
}
