.blog-tags {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}

.blog-tags {
  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  ul {
    padding-left: 0;
  }

  ul li {
    display: inline;
    margin-right: 0.5em;
    color: var(--base04);
  }

  ul li::before {
    content: "#";
    color: var(--base04);
  }

  ul li::marker {
    content: none;
  }
}

.tag-title {
  margin-left: 1em;
}

.blogs {
  .blog-entry {
    display: flex;
    align-items: center;
    gap: 2em;
    margin-bottom: 1.5em;
  }

  .blog-date {
    margin: 0;
    font-size: 0.9em;
    color: var(--base04);
    text-align: center;
  }

  .blog-date p {
    margin: 0;
  }

  .blog-content {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    flex: 1;
  }

  .blog-title {
    margin: 0;
    font-size: 1.2em;
    font-weight: bold;
  }

  .blog-title {
    a {
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }

    p {
      margin: 0;
    }
  }
}

.blog-page {
  .blog-info {
    margin-left: 2em;
  }
}

.commits {
  color: var(--base04);
}

.commits {
  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  ul {
    margin: 0em 0em;
  }
}
