footer {
  border-top: 0.1em solid var(--base02);
  color: var(--base04);
  display: flex;
  justify-content: space-between;
  padding-right: 2em;
}

footer {
  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}
