nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
  border-bottom: 0.1em solid var(--base02);
}

nav {
  a {
    color: var(--base05);
    text-decoration: none;
    font-weight: bold;
    padding: 0.1em 0.5em;
  }

  .pages a.active,
  .pages a.active:hover {
    background-color: var(--base05);
    color: var(--base00);
  }

  .pages a:hover {
    background-color: var(--base01);
  }
}
