.source,
.syntax-highlighting {
  * {
    color: var(--base05);
  }

  .storage {
    font-weight: bold;
  }

  .punctuation {
    color: var(--base03);
  }

  .comment {
    color: var(--base03);
  }

  .constant,
  .string,
  .string.punctuation,
  .quoted.double {
    color: var(--base09);
  }

  .escape {
    color: var(--base08);
  }
}
